<% include ../layouts/template/header-auth.ejs %>
<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="b-form">
    <h2 class="h3 text-center">Easily connect pets</h2>
    <div class="panel panel-info">
      <div class="panel-body" >
        <form action="/login" class="form-horizontal" method="POST">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input type="email" class="form-control" name="username" placeholder="Email">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-success btn-lg btn-custom-color-1">Connect</button>
            </div>
          </div>
         </form>
        <form action="/signup" method="POST">
          <button type="submit" class="btn btn-link">If you do not have an account, register here</button>
        </form>
      </div>
    </div>
  </div>
</div>
