<% include ../layouts/template/header-auth.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="b-form">
        <h2>Rellena los campos de tu perfil</h2>
        <form action="/signup" method="post" enctype="multipart/form-data">
          <div class="col-md-6">
            <div class="form-group">
              <label for="username">Email:</label>
              <input type="email" class="form-control" name="username" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="fullname">User name:</label>
              <input type="text" class="form-control" name="fullname" placeholder="User name">
            </div>
            <div class="form-group">
              <label for="age">Age:</label>
              <input type="number" class="form-control" name="age" placeholder="Age">
            </div>
            <div class="form-group">
              <label for="age">Description:</label>
              <textarea class="form-control" rows="3" name="description" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="avatar">
              <img src="" alt="" id="image">
            </div>
            <div class="avatar-input form-group">
              <input type="file" name="profilePic" id="profilePic">
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-default">Siguiente</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>formShowImage("profilePic","image");</script>
