// main: ../../main.scss

/*
  MODAL MATCH
*/

.m-match {

  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-content {
      .modal-header {
        color: white;
      }
      .modal-body {
        .b-card-match {
          .pic {
            width: 280px;
            display: inline-block;
            .img-dog {
              width: 100%;
              height: 250px;
              margin: 0 auto;
              overflow: hidden;
              position: relative;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
              }
            }
          }
          .buttons {
            text-align: center;
          }
        }
      }
    }
  }
}


/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}
