// main: ../../main.scss

/*
  MODAL STAT
*/


.m-stat {
  .modal-content {
    .modal-body {
      .h4 {
        font-family: $font-enfasis;
        font-size: 50px;
      }
      .score {
        font-size: 20px;
        span {
          font-weight: 600;
        }
      }
      .timing {
        font-size: 20px;
        span {
          font-weight: 600;
        }
      }
    }
  }
}
