<nav class="b-nav navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Match Dog</a>
    <div class="pull-right">
      <a class="navbar-brand btn-notification" href="/chat">e</a>
      <a class="navbar-brand" href="/profile-edit">Edit profile</a>
      <a class="navbar-brand" href="/logout">Logout</a>
    </div>
  </div>
</nav>
