// main: ../main.scss

/*
  COLORS
*/


$black: #000000;
$white: #ffffff;
$grey-1: #f9f9f9;
$grey-2: #e8e8e8;
$grey-3: #999999;
$grey-4: #262626;
$grey-5: #080910;
$grey-6: #404040;


$primary-1: #22979E;
$primary-1-1: #01767D;
$text-radar: #38FFD0;

$alert-1: #FF0200;
