// main: ../main.scss

/*
  CUSTOM TEMPLATE
*/

$font-text: 'Open Sans', sans-serif;
$font-enfasis: 'Baloo', cursive;

$shadow-1: inset -5px -10px 40px rgba(0,0,0,0.6);
$shadow-2: inset -5px -5px 80px rgba(0,0,0,0.5);

html,body{
  font-family: $font-text;
}

.wrapper {
  .h1 {
    font-family: $font-enfasis;
    line-height: 0;
    color: $primary-1;
  }
  .h2 {
    font-family: $font-enfasis;
    margin-bottom: 20px;
  }
}

.btn-custom-color-1 {
  background-color: $primary-1;
  border-color: $primary-1;
  &:hover {
    background-color: $primary-1;
    border-color: $primary-1;
  }
}
.btn-custom-color-2 {
  background-color: $primary-1-1;
  border-color: $primary-1-1;
  &:hover {
    background-color: $primary-1-1;
    border-color: $primary-1-1;
  }
}
