<% include layouts/template/header.ejs %>
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Match pets</h2>
    <div class="b-card">
      <div class="pic">
        <div class="img-dog">
          <div class="img-user">
            <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
          </div>
          <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
        </div>
        <small>Nombre del perro</small>
        <small>Raza</small>
      </div>
      <div class="buttons">
        <button class="btn-no" type="button" name="button">NO</button>
        <button class="btn-yes" type="button" name="button">YES</button>
      </div>
    </div>
  </div>
</div>
<!-- Button modal fullscreen -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-fullscreen">
  Launch modal fullscreen
</button>

<!-- Modal fullscreen -->
<div class="m-match modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Nueva pareja</h2>
        <p>Bobby y tu se han gustado</p>
      </div>
      <div class="modal-body">
        <div class="b-card-match">
          <div class="pic">
            <div class="img-dog">
              <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
            </div>
          </div>
          <div class="pic">
            <div class="img-dog">
              <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
            </div>
          </div>
          <div class="buttons">
            <button class="btn btn-default" type="button" name="button">Enviar un mensaje</button>
          </div>
          <div class="buttons">
            <button class="btn btn-default" type="button" name="button">Sigue jugando</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
