<% include layouts/template/header.ejs %>
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Match pets</h2>
    <div class="b-card">
      <div class="pic">
        <div class="img-dog">
          <div class="img-user">
            <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
          </div>
          <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
        </div>
        <small>Nombre del perro</small>
        <small>Raza</small>
      </div>
      <div class="buttons">
        <button class="btn-no" type="button" name="button">NO</button>
        <button class="btn-yes" type="button" name="button">YES</button>
      </div>
    </div>
  </div>
</div>
