<div class="row">
  <div class="col-md-12">
    <div class="c-card">
      <div class="pic">
        <div class="img-user">
          Imagen del dueño
        </div>
        <div class="img-dog">
          Imagen con el perro
          <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
        </div>
        <small>Nombre del perro</small>
        <small>Raza</small>
      </div>
      <div class="buttons">
        <button type="button" name="button">NO</button>
        <button type="button" name="button">YES</button>
      </div>
    </div>
  </div>
</div>
