<% include ../layouts/template/header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Perfil de usuario</h2>
      <div class="col-md-6">
        <div class="c-profile c-dog">
          <div class="pic">
            <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
          </div>
          <small>Nombre del perro, edad</small>
          <small>Raza del perro</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="c-profile c-user">
          <div class="pic">
            <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="">
          </div>
          <small>Nombre del usuario</small>
          <small>Edad del usuario</small>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-default">Buscar</button>
    </div>
  </div>
</div>
