// main: ../../main.scss

/*
  BLOCK BOARD GAME
*/



.b-board {
  width: 258px;
  height: 250px;
  margin: 0 auto 20px auto;
  position: relative;
  animation: display 4s forwards infinite;
  box-shadow: $shadow-2;
  .p-stat {
    position: absolute;
    top: -22px;
    font-size: 12px;
    &.score {
      left: 0;
      span {
        font-weight: 600;
      }
    }
    &.direction {
      left: 0;
      right: 0;
      top: 245px;
      span {

      }
    }
    &.time-remaining {
      right: 0;
      span {
        font-weight: 600;
      }
    }
  }
  .board-disabled {
    display: block;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    p {
      font-family: $font-console;
      font-size: 12px;
      color: $text-radar;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.enabled {
    .board-disabled {
      display: none;
    }
  }

  .board-row {
    .board-col {
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-bottom: -5px;
      box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2);
      transition: background-color 500ms ease-out 1s;
      &.target {
        position: relative;
        &:after {
          content: "";
          width: 20px;
          height: 20px;
          background-color: rgba(56,255,208,0.3);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          transition: all 500ms ease-out 1s;
        }
        &.touched {
          background-color: $alert-1;
          box-shadow: inset 0px 0px 20px $text-radar;
          animation: fade 2s forwards infinite;
        }
      }
      &.two-cell-ship {
        background-color: rgba(56,255,208,0.6);
        animation: fade 1s forwards;
      }
      &.three-cell-ship {
        background-color: rgba(56,255,208,0.6);
        animation: fade 1s forwards;
      }
    }
  }
  &#human {
    &.enabled {
      &.fregate {
        .board-row {
          .board-col {
            &:hover {
              background-color: rgba(56,255,208,0.6);
              animation: fade 1s forwards infinite;
              + div {
                background-color: rgba(56,255,208,0.6);
                animation: fade 1s forwards infinite;
              }
            }
          }
        }
        &.destructor {
          .board-row {
            .board-col {
              &:hover {
                background-color: rgba(56,255,208,0.6);
                animation: fade 1s forwards infinite;
                + div {
                  background-color: rgba(56,255,208,0.6);
                  animation: fade 1s forwards infinite;
                  + div {
                    background-color: rgba(56,255,208,0.6);
                    animation: fade 1s forwards infinite;
                  }
                }
              }
            }
          }
        }
      }
      &.shipVertical {
        &.fregate {
          .board-row {
            .board-col {
              &:hover {
                + div {
                  background-color: inherit;
                  animation: inherit;
                }
              }
            }
          }
          &.destructor {
            .board-row {
              .board-col {
                &:hover {
                  + div {
                    background-color: inherit;
                    animation: none;
                    + div {
                      background-color: inherit;
                      animation: inherit;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &#computer {
    .board-row {
      .board-col {
        &:hover {
          background-color: rgba(56,255,208,0.6);
          animation: fade 1s forwards infinite;
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    background-color:rgba(56,255,208,0.6);
  }
  50% {
    background-color:rgba(56,255,208,0.9);
  }
  0% {
    background-color:rgba(56,255,208,0.6);
  }
}

@keyframes fire {
  0% {
    background-color:rgba(255, 2, 0, 0.3);
  }
  35% {
    background-color:$alert-1;
  }
  70% {
    background-color:rgba(255, 146, 0, 0.6);
  }
  100% {
    background-color:rgba(255, 2, 0, 0.3);
  }
}

@keyframes display {
  0% {
    background-color:rgba(34, 151, 158, 1);
  }
  50% {
    background-color:rgba(31, 171, 158, 1);
  }
  100% {
    background-color:rgba(34, 151, 158, 1);
  }
}
