// main: ../../main.scss

.b-form {
  .avatar {
    background-color: $grey-2;
    height: 250px;
    width: 250px;
    margin: 0 auto 15px auto;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .avatar-input {
    width: 250px;
    margin: 0 auto 15px auto;
  }
  .panel-info {
    border-color: $grey-2;
  }
  .input-group {
      margin-bottom: 15px;
  }
}
