// main: ../../main.scss

/*
  BLOCK HEADER
*/


.b-header {
  margin: 20px auto;
  .flag {
    background-size: cover;
    background-position: 50% 0;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: inset -5px -10px 20px rgba(0,0,0,0.4);
    margin-bottom: 10px;
  }
  .h2 {
    font-family: $font-enfasis;
    font-size: 40px;
    margin: 0;
  }
  .navy {
    font-family: $font-text;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .live {
    font-family: $font-console;
    display: inline-block;
    position: relative;
    span {
      height: 8px;
      width: 8px;
      background-color: $alert-1;
      border-radius: 50%;
      position: absolute;
      top: 6px;
      left: -15px;
      animation: fade2 2s infinite 100ms;
    }
  }
}


@-webkit-keyframes fade2 {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fade2 {
  from {opacity: 1;}
  to {opacity: 0;}
}
