// main: ../../main.scss

.b-profile {
  width: 80%;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 100%;
    max-width: 250px;
  }
  .pic {
    width: 100%;
    height: 250px;
    border-radius: 3px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    span {
      position: absolute;
      right: 0;
      bottom: 0;
      width: auto;
      background-color: grey;
      padding: 10px 20px;
    }
  }
  .info {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: inline-block;
    small {
      float: left;
      &:last-child {
        float: right;
      }
    }
  }
  .description {
    text-align: left;
  }
  &.dog {

  }
  &.user {

  }
}

/* Small devices (tablets, 768px and up) */
//@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
//@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
//@media (min-width: @screen-lg-min) { ... }
