<% include ../layouts/template/header-auth.ejs %>
<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="b-form">
    <h2 class="h3 text-center">Fill out your dog form</h2>
    <div class="panel panel-info">
      <div class="panel-body" >
        <form action="/dog" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="breed">Breed:</label>
            <input type="text" class="form-control" name="breed" placeholder="Breed">
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" class="form-control" name="age" placeholder="Age">
          </div>
          <div class="form-group">
            <label for="age">Description:</label>
            <textarea class="form-control" rows="3" name="description" placeholder="Description"></textarea>
          </div>
          <div class="avatar">
            <img src="" alt="" id="image">
          </div>
          <div class="avatar-input form-group">
            <input type="file" name="picture" id="picture">
          </div>
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-success">Next step</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>formShowImage("picture","image");</script>
